body{
    height: 100%;
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
    line-height: 1.715;
    background-color: #fff;
    color: #666;
    overflow-x: hidden;
    max-width: 100%;
}

.navbar .navbar-brand{
  padding:5px !important;
}
.navbar-brand img{
  //height:80
}
/*Home
  ==============*/
.home-section{
    padding: 160px 0px;
    background-color:black;
}
.parallax {
    background-image: url("assets/img/home-bg2.jpg");
    height: 100%; 
    width: 100%;
    background-size: cover;
    background-position: 50% 50%;
    color: #fff;
}

/* Turn off parallax scrolling for tablets and phones. Increase the pixels if needed */
@media only screen and (max-device-width: 1024px) {
    .parallax {
        background-attachment: scroll;
    }
}
/* SECTION BACKGROUND */
.section-background {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 0;
	overflow: hidden;
}

