body{
    height: 100%;
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
    line-height: 1.715;
    background-color: #fff;
    color: #666;
    overflow-x: hidden;
    max-width: 100%;
}

.navbar .navbar-brand{
  padding:5px !important;
}
.navbar-brand img{
  //height:80
}
