/*Fonts*/

/*Buttons*/
.btn-cosy{
  color: #333;
  background-color: transparent;
  border-color: #333;
  border-radius: 0px;
  /*padding: 2px 7px;*/
}
.btn-cosy:hover{
  color: #fff;
  background-color: #4169E1;
  border-color: #122b40;
}
.technology-section img{
  width:180px;
  height: 180px;
}
.carousel-control.left, .carousel-control.right {
    background-image: none
}
section {
    margin-bottom: 60px;
}
.service-block img{
  /*background-color: rgba(0,0,0, 0.2);*/
     /* border: 3px solid #4169E1;
    padding: 10px;*/
}
.text-justify{
	text-align: justify;
}
.service-text{
  height: 290px;
  line-height: 1.5;
}
.bg-color{
  background-color: #4169e1;
}
.section-heading{
    position: relative;
    background: url('../img/section-heading-line.png') no-repeat bottom center;
    display: block;
    width: 100%;
    text-align: center;
    /*font-size: 16px;*/
    line-height: 24px;
    color: #292929;
    padding-bottom: 20px;
    margin-bottom: 40px;
}
.section-heading .fa {
    position: absolute;
    /*background: #292929;*/
    width: 20px;
    height: 20px;
    border-radius: 50%;
    /*color: #fff;*/
    font-size: 10px;
    line-height: 20px;
    text-align: center;
    overflow: hidden;
    bottom: -4px;
    left: 50%;
    margin-left: -10px;
    padding-left: 2px;
}

.service-text a{
  color: #4169e1;
  font-weight: bold;
}
.social li {
    background: #656565;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    text-align: center;
    display: inline-block;
    margin: auto 10px;
}

.social li i {
    color: #333;
    text-shadow: none;
    font-size: 16px;
    line-height: 38px;
}
.social li:hover i{
  color: #fff;
}
footer{
  background-color: #49494b;
  font-weight: 300;
  color: #eaeaea;
  padding: 15px 0px;
}
footer .social li{
  width: 56px;
  height: 56px;
  display: inline-block;
}
footer .social li i{  
  font-size: 26px;
  line-height: 58px;
}
/*.navbar-brand{
	padding: 7px 15px;
}
.navbar-fixed-top {
    min-height: 70px;
}

.navbar-nav > li > a {
    padding-top: 0px;
    padding-bottom: 0px;
    line-height: 70px;
}

@media (max-width: 767px) {
    .navbar-nav > li > a {
    line-height: 20px;
    padding-top: 10px;
    padding-bottom: 10px;}
}*/

/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

.cosybody {
  /*padding-bottom: 40px;*/
  color: #333;
}
textarea{
  resize: vertical;
}
#contact-submit{
  width: 120px;
}
.inner-content{
  margin-top: 100px;
  margin-bottom:100px;
}
.border-right{
  border-right:1px solid #ccc;
}

/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */
.navbar-default{
  background-color: #fff;
}
/* Special class on .container surrounding .navbar, used for positioning it into place. */
/*.navbar-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;
}

 Flip around the padding for proper display in narrow viewports 
.navbar-wrapper > .container {
  padding-right: 0;
  padding-left: 0;
}
.navbar-wrapper .navbar {
  padding-right: 15px;
  padding-left: 15px;
}*/
.navbar-wrapper .navbar .container {
  /*width: auto;*/
}


/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  height: 320px;
  margin: 70px 0px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 0;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 320px;
  background-color: #4169E1;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 320px;
}


/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 20px;
  text-align: center;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .col-lg-4 p {
  margin-right: 10px;
  margin-left: 10px;
}


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 80px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {
  /* Navbar positioning foo */
  /*.navbar-wrapper {
    margin-top: 20px;
  }*/
  .navbar-wrapper .container {
    padding-right: 15px;
    padding-left: 15px;
  }
  .navbar-wrapper .navbar {
    padding-right: 0;
    padding-left: 0;
  }

  /* The navbar becomes detached from the top, so we round the corners */
  .navbar-wrapper .navbar {
    border-radius: 4px;
  }

  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}
.navbar-nav .dropdown-menu {
    border-top: 2px solid #4169e1 !important;
}

/*Mega-menu*/
.header .mega-menu .nav,
.header .mega-menu .dropup,
.header .mega-menu .dropdown,
.header .mega-menu .collapse {
    position: static
}

.header .mega-menu .navbar-inner,
.header .mega-menu .container {
    position: relative
}

.header .mega-menu .dropdown-menu {
    left: auto
}

.header .mega-menu .dropdown-menu>li {
    display: block
}

.header .mega-menu .dropdown-submenu .dropdown-menu {
    left: 100%
}

.header .mega-menu .nav.pull-right .dropdown-menu {
    right: 0
}

.header .mega-menu .mega-menu-content {
    *zoom: 1;
    padding: 4px 15px
}

.header .mega-menu .mega-menu-content:before,
.header .mega-menu .mega-menu-content:after {
    content: "";
    display: table;
    line-height: 0
}

.header .mega-menu .mega-menu-content:after {
    clear: both;
}

.header .mega-menu .nav>li>.dropdown-menu:after,
.header .mega-menu .nav>li>.dropdown-menu:before {
    display: none;
}

.header .mega-menu .dropdown.mega-menu-fullwidth .dropdown-menu {
    left: 0;
    right: 0;
    overflow: hidden;
    /*box-shadow: 0 3px #4169e1;*/
}
.header .mega-menu .dropdown.mega-menu-autowidth .dropdown-menu {
    right: auto;
}

@media(min-width:992px) {
    .header .mega-menu .mega-menu-content.content-two-col {
        min-width: 596px;
    }
    .header .mega-menu .mega-menu-content.content-three-col {
        min-width: 864px;
    }
}

.header .mega-menu .dropdown.mega-menu-left .dropdown-menu {
    left: auto;
    overflow: hidden;
}

.header .mega-menu .dropdown.mega-menu-right .dropdown-menu,
.header .mega-menu .dropdown.mega-menu-two-col-right .dropdown-menu {
    right: 0;
    overflow: hidden
}

@media(min-width:992px) {
    .header .mega-menu .equal-height {
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex
    }
    .header .mega-menu .equal-height-in {
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex
    }
}

.header .mega-menu .equal-height-list h3 {
    font-size: 15px;
    font-weight: 400;
    padding: 0 10px 0 13px;
    text-transform: uppercase
}

@media(min-width:992px) {
    .header .mega-menu .big-screen-space {
        margin-bottom: 20px
    }
}

@media(min-width:992px) {
    .header .mega-menu .equal-height-in {
        /*padding: 20px 0;*/
        border-left: 1px solid #eee
    }
    .header .mega-menu .equal-height-in:first-child {
        border-left: 0;
        margin-left: -1px
    }
    .header .mega-menu .equal-height-list {
        width: 100%
    }
    .header .mega-menu .equal-height-list li a {
        display: block;
        margin-bottom: 1px;
        position: relative;
        border-bottom: 0;
        padding: 5px 10px 5px 15px
    }
    .header .mega-menu .equal-height-list a:hover {
        text-decoration: none
    }
    .header .mega-menu .mega-menu-content li a {
        padding: 5px 10px 5px 30px
    }
    .header .mega-menu .mega-menu-content li a:after {
        top: 7px;
        left: 15px;
        font-size: 11px;
        content: "\f105";
        position: absolute;
        font-weight: normal;
        display: inline-block;
        font-family: "Trebuchet ms", sans-serif
    }
    .header .mega-menu .disable-icons li a {
        padding: 5px 10px 5px 15px
    }
    .header .mega-menu .disable-icons li a:after {
        display: none
    }
}

@media(max-width:991px) {
    .header .mega-menu .equal-height-list h3 {
        background-color: #e7e7e7
    }
    .header .mega-menu .equal-height-list h3 {
        color: #555;
        margin: 0 0 5px;
        font-size: 13px;
        font-weight: 400;
        padding: 6px 25px 5px;
        border-bottom: solid 1px #eee
    }
    .header .mega-menu .equal-height-list li a {
        color: #687074;
        display: block;
        font-size: 13px;
        font-weight: 400;
        margin-left: 15px;
        padding: 6px 25px;
        border-bottom: solid 1px #eee
    }
    .header .mega-menu .equal-height-list>h3.active,
    .header .mega-menu .equal-height-list>.active>a,
    .header .mega-menu .equal-height-list>.active>a:hover,
    .header .mega-menu .equal-height-list>.active>a:focus {
        color: #555;
        background-color: #e7e7e7
    }
    .header .mega-menu .equal-height-list li a:hover {
        color: #333;
        text-decoration: none
    }
}

.header .mega-menu .equal-height-list a:hover {
    color: #555;
    background-color: #e7e7e7
}
@media screen and (min-width:992px) {
    .navbar .dropdown:hover>.dropdown-menu {
        display: block
    }
    .navbar .dropdown-menu>.dropdown:hover>.dropdown-menu {
        display: block
    }
}
/*--------------------------------------------------*/
